<tr>
  <td>#</td>
  <td><%= link_to(movie.filmname, movie_path(movie))%></td>
  <td><%= render_movie_introduction(movie)%></td>
  <td><%= movie.user.email %></td>
  <td>
    <% if current_user && current_user == movie.user %>
      <%= link_to("编辑", edit_movie_path(movie), class: "btn btn-sm btn-default")%>
      <%= link_to("删除", movie_path(movie), class: "btn btn-sm btn-default", method: :delete, data: { confirm: "Are you sure?"})%>
    <% end %>
  </td>
</tr>
