<div class="col-md-12">
  <div class="movie">
    <%= link_to("添加新电影", new_movie_path, class: "btn btn-primary pull-right")%>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>影片名</td>
        <td>影片简介</td>
        <td>创建者</td>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td>#</td>
          <td><%= link_to(movie.filmname, movie_path(movie))%></td>
          <td><%= movie.introduction %></td>
          <td><%= movie.user.email %>
          <td>
            <% if current_user && current_user == movie.user %>
              <%= link_to("编辑", edit_movie_path(movie), class: "btn btn-sm btn-default")%>
              <%= link_to("删除", movie_path(movie), class: "btn btn-sm btn-default", method: :delete, data: {confirm: "你确定删除电影？"})%>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
