<div class="col-md-12">
  <h2 class="text-center">我发表过的影评</h2>
  <table class="table">
    <thead>
      <tr>
        <th>评论</th>
        <th>影片名</th>
        <th>最后更新时间</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @reviews.each do |review| %>
        <tr>
          <td><%= review.content %></td>
          <td><%= review.movie.filmname %></td>
          <td><%= review.updated_at %></td>
          <td><%= link_to('编辑', edit_movie_review_path(review.movie, review), class: "btn btn-default btn-xs")%></td>
          <td><%= link_to('删除', movie_review_path(review.movie, review), method: :delete, data: { confirm: "你确定输出影评吗？"}, class: "btn btn-default btn-xs")%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
